# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy (code) to Azure Web App - findmyhome

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - uses: actions/checkout@v4

    - name: Package app for deployment
      run: |
        zip -r release.zip . \
          -x ".git/*" ".github/*" ".venv/*" "__pycache__/*" "*.pyc" \
          "notebook/*" "imgs/*" ".env"

    - name: Deploy to Azure Web App (code)
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'findmyhome'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_cfdde810c0e44666a3f68759b49ab062 }}
        package: release.zip
